pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Mock_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Mock_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Mock_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateLogTable]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataRead": {
							"value": {
								"value": "@{activity('Mock_data').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Destination": {
							"value": {
								"value": "'pipeline_logs'",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@{activity('Mock_data').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "'Mock_data'",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Faliure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Mock_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateErrorTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "'pipeline_errors'",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('Mock_data').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('Mock_data').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "'Mock_data'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-26T06:46:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}